In [1]:
import pandas as pd
url = "data/nhanes_2015_2016.csv"
da = pd.read_csv(url)

In [2]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [3]:
da['BMXWT'].mean()

81.34267560889516

In [4]:
da['DMDEDUC2'].unique() #categorical ordered

array([ 5.,  3.,  4.,  2., nan,  1.,  9.])

In [13]:
g = da['RIAGENDR']
g

0       1
1       1
2       1
3       2
4       2
       ..
5730    2
5731    1
5732    2
5733    1
5734    2
Name: RIAGENDR, Length: 5735, dtype: int64

In [6]:
da['DMDEDUC2']

0       5.0
1       3.0
2       3.0
3       5.0
4       4.0
       ...
5730    3.0
5731    5.0
5732    4.0
5733    1.0
5734    5.0
Name: DMDEDUC2, Length: 5735, dtype: float64

In [14]:
g.unique()

array([1, 2])

## One Hot Encoding

In [15]:
B = ['bird','cat','dog','cat','bird','bird']

d = {'categorical': B}

In [16]:
d

{'categorical': ['bird', 'cat', 'dog', 'cat', 'bird', 'bird']}

In [19]:
df = pd.DataFrame(d)
df

  categorical
0        bird
1         cat
2         dog
3         cat
4        bird
5        bird

In [20]:
df['categorical']

0    bird
1     cat
2     dog
3     cat
4    bird
5    bird
Name: categorical, dtype: object